* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

a {
	display: inline-block;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 15px 0;
}

body {
	font-family: "Kanit", sans-serif;
}
